@use "sass:color";

$breakpoint-mobile: 640px;
$breakpoint-tablet: 1024px;

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-tablet + 1px}) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: color.adjust(#f6f8fc, $lightness: -10%);
    border-radius: 3px;
    &:hover {
      background: color.adjust(#f6f8fc, $lightness: -20%);
    }
  }
}
